<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/styles.css">
    <title>Pair Program Appointment Scheduler</title>
</head>
<body>
    <h1>Appointment Scheduler</h1>

    <form method="post" action="/submit-apt">
        <label for="fname">First name:</label>
        <input type="text" id="fname" name="fname">

        <label for="lname">Last name:</label>
        <input type="text" id="lname" name="lname">

        <label for="date">Date:</label>
        <input type="date" id="date" name="date">

        <label for="time">Time:</label>
        <input type="time" id="time" name="time">

        <button type="submit">submit</button>        
    </form>
    
</body>
</html>